.header-bar-wrap {
	@include background(--header-bar-background-color);
	border-bottom: 1px solid;
	@include border-color(--header-bar-border-color);
}

.header-bar {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.header-bar .social-menu-wrap {
	order: 2;
	margin-left: auto;
}

.secondary-navigation {
	position: relative;
	width: 100%;
	order: 3;
}

.top-navigation ul {
	margin: 0;
	padding: 0;
	@include color(--header-bar-text-color);
	list-style: none;
	@include font-size(15);
	@include font-family(--navi-font);
	@include font-weight(--navi-font-weight);
	@include text-transform(--navi-text-transform);
}

/* Hide the menu on small screens when JavaScript is available. */
.top-navigation ul,
.top-navigation .menu-item-has-children > a > .icon,
.top-navigation .page_item_has_children > a > .icon,
.top-navigation ul a > .icon {
	display: none;
}

.top-navigation.toggled-on > ul.menu {
	display: block;
}

/* Menu Items Styling */
.top-navigation ul li {
	position: relative;
	margin: 0;
}

.top-navigation ul a {
	display: block;
	margin: 0;
	padding: 0.75rem 1.5rem;
	border-top: 1px solid;
	@include border-color(--header-bar-border-color);
	text-decoration: none;
}

.top-navigation ul a,
.top-navigation ul a:link,
.top-navigation ul a:visited {
	@include color(--header-bar-text-color);
	text-decoration: none;
	transition: all 0.15s ease;
}

.top-navigation ul a:hover,
.top-navigation ul a:active,
.top-navigation ul a:focus {
	@include color(--header-bar-text-hover-color);
}

.top-navigation ul li.current-menu-item > a {
	text-decoration: underline;
}

/* Submenus */
.top-navigation ul ul {
	@include font-size(15);
	@include background(--header-bar-background-color);
}

.is-amp-page .top-navigation ul button.toggled-on + ul,
.top-navigation ul ul.toggled-on {
	display: block;
}

.top-navigation ul ul a {
	padding-left: 3rem;
}

.top-navigation ul ul ul a {
	padding-left: 4.5rem;
}

.top-navigation ul ul ul ul a {
	padding-left: 6rem;
}

/* Top Navigation Toggle */
.secondary-menu-toggle {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0.75rem 1.25rem;
	border: none;
	background: none;
	@include color(--header-bar-text-color);
	text-decoration: none;
	@include font-size(15);
	@include font-family(--navi-font);
	@include font-weight(--navi-font-weight);
	@include text-transform(--navi-text-transform);
	text-align: left;
	transition: all 0.15s ease;
}

.secondary-menu-toggle .menu-toggle-text {
	display: none;
}

.secondary-menu-toggle:focus {
	outline: thin dotted;
	@include color(--header-bar-text-color);
	background: none;
}

.secondary-menu-toggle:hover,
.secondary-menu-toggle:active {
	@include color(--header-bar-text-hover-color);
	background: none;
	cursor: pointer;
}

.secondary-menu-toggle .icon {
	margin: 0;
	width: 20px;
	height: 20px;
	vertical-align: top;
	@include fill(--header-bar-text-color);
	transition: fill 0.15s ease;
}

.secondary-menu-toggle:hover .icon,
.secondary-menu-toggle:active .icon {
	@include fill(--header-bar-text-hover-color);
}

.secondary-menu-toggle[aria-expanded="true"] .icon-ellipsis,
.secondary-menu-toggle[aria-expanded="false"] .icon-close {
	display: none;
}

.secondary-menu-toggle[aria-expanded="true"] .icon-close {
	display: inline-block;
}

/* Submenu Dropdown Toggles */
.top-navigation .dropdown-toggle {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 0.75rem 1rem;
	background: none;
	border: none;
}

.top-navigation .dropdown-toggle:focus {
	outline: thin dotted;
	@include color(--header-bar-text-color);
	background: none;
}

.top-navigation .dropdown-toggle:hover,
.top-navigation .dropdown-toggle:active {
	background: none;
}

.top-navigation .dropdown-toggle .icon {
	margin: 0.35em 0 0;
	width: 18px;
	height: 18px;
	vertical-align: top;
	@include fill(--header-bar-text-color);
	transition: fill 0.15s ease;
}

.top-navigation .dropdown-toggle:hover .icon,
.top-navigation .dropdown-toggle:active .icon,
.top-navigation .dropdown-toggle:focus .icon {
	@include fill(--header-bar-text-hover-color);
}

.top-navigation .dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

@media only screen and (min-width: 400px) {
	.secondary-menu-toggle .menu-toggle-text {
		display: block;
		margin-left: 0.5rem;
	}
}

@media only screen and (min-width: 960px) {
	.header-bar {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	body.wide-theme-layout .site .header-bar {
		max-width: calc(#{$themeWidth} - 2rem);
		margin-left: auto;
		margin-right: auto;
	}

	.secondary-menu-toggle,
	.top-navigation .dropdown-toggle {
		display: none;
	}

	.top-navigation ul,
	.top-navigation ul ul {
		display: block;
	}

	.secondary-navigation {
		display: flex;
		width: auto;
		align-items: center;
		order: 1;
	}

	#header-top .top-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		padding: 0;
		border: none;
	}

	.top-navigation ul {
		@include font-size(15);
	}

	.top-navigation ul a {
		padding: 0.75rem 1rem;
		border: none;
	}

	/* Dropdown Menus */
	.top-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		padding: 0.25rem 0;
		border: 1px solid;
		@include border-color(--header-bar-border-color);
	}

	.top-navigation ul li:hover > ul,
	.top-navigation ul li.focus > ul {
		left: 0;
		right: auto;
	}

	.top-navigation ul ul li a {
		width: 16rem;
	}

	.top-navigation ul ul ul {
		left: -999em;
		top: 0;
		margin-top: -0.25rem;
	}

	.top-navigation ul ul li:hover > ul,
	.top-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.top-navigation ul ul li a,
	.top-navigation ul ul ul li a,
	.top-navigation ul ul ul ul li a {
		padding: 0.75rem 1.25rem;
		border: none;
	}

	/* Dropdown Icons */
	.top-navigation .menu-item-has-children > a > .icon,
	.top-navigation .page_item_has_children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.1rem;
		width: 12px;
		height: 12px;
		@include fill(--header-bar-text-color);
		transition: fill 0.15s ease;
	}

	.top-navigation ul ul .menu-item-has-children > a > .icon,
	.top-navigation ul ul .page_item_has_children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.4rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.top-navigation ul .menu-item-has-children > a:hover > .icon,
	.top-navigation ul .page_item_has_children > a:hover > .icon {
		@include fill(--header-bar-text-hover-color);
	}
}
